@import "../../../assets/variables/variables";

.sidebar {
    background-color: white;
    width: max-content;
    height: 100vh;
    display: flex;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    position: static;
    left: 0;
    top: 0;


    .coloredDiv {
        background-color: #7367FF;
        height: 100%;
        width: 40px;
    }


    .rightDiv {
        padding: 70px 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;


        .menu {
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 8px;


            .menuItem {
                display: flex;
                align-items: center;
                gap: 8px;
                padding: 8px 12px;
                cursor: pointer;


                .imgCont {
                    width: 24px;
                    height: 24px;


                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }


                p {
                    color: #170F49;
                    font-size: 16px;
                    line-height: 24px;
                }
            }


            .fieldsCont {
                display: flex;
                flex-direction: column;
                gap: 4px;


                .fieldsOfStudyAbove {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    padding: 8px 12px;
                    cursor: pointer;
                }


                .categories {
                    width: 100%;
                    padding-left: 8px;
                    display: flex;
                    flex-direction: column;
                    gap: 4px;
                    overflow-y: scroll;
                    scrollbar-width: none;
                    max-height: 128px;


                    > div {
                        padding: 4px 8px;
                        display: flex;
                        align-items: center;
                        gap: 4px;
                        cursor: pointer;


                        > span {
                            color: $secondColor;
                            font-size: 14px;
                            line-height: 21px;
                        }
                    }
                }
            }


            .selected {
                background-color: rgba(115, 103, 255, 0.15);
                border-radius: 12px;

            }
        }


        .bottomMenu {
            display: flex;
            flex-direction: column;
            gap: 89px;
            height: max-content;


            ul {
                display: flex;
                flex-direction: column;
                gap: 9px;


                li {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    cursor: pointer;
                    padding: 8px 12px;


                    > div {
                        width: 24px;
                        height: 24px;


                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }
                }
            }


            .logo {
                width: 115px;
                height: 36px;
                cursor: pointer;
            }
        }
    }
}