.card {
    border: 1px solid transparent; // Default border
    border-radius: 32px;
    padding: 20px;
    background-color: #fff;
    position: relative;
    transition: border-color 0.5s ease;

    &:hover {
        border-color: rgba(126, 141, 156, 0.368627451); // Hoverda rəng dəyişir
    }



    .badge {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: #e6f2ff;
        /* Fırlı fon */
        color: #004b8d;
        padding: 5px 10px;
        border-radius: 15px;
        font-size: 12px;
        font-weight: bold;
    }

    .cardHeader {
        display: flex;
        align-items: center;
        gap: 15px;
        margin-bottom: 10px;

        .avatar {
            width: 65px;
            height: 65px;
            border-radius: 50%;
            object-fit: cover;
            border: 2px solid #d4bdf3;
        }

        .info {
            h3 {
                font-size: 18px;
                color: #333;
                margin: 0;
            }

            p {
                font-size: 14px;
                color: #666;
                margin: 0;
            }
        }
    }

    .card-body {
        font-size: 16px;
        color: rgba(34, 34, 34, 1);
        font-weight: 400;
        line-height: 1.5;


    }
}