.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); // Arxa fon qara və solğun olacaq
  display: flex;
  justify-content: center;
  align-items: center;


  .modalContent {
    background: white;
    padding: 2rem;
    border-radius: 32px;
    width: 505px;
    height: 603px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    line-height: 42px;

    .modalTitleTop {
      font-size: 24px;
      font-weight: 400;
      color: rgba(126, 141, 156, 1);
    }

    h3 {
      font-size: 32px;
      font-weight: 700;
      color: rgba(34, 34, 34, 1);
    }

    form {
      display: flex;
      flex-direction: column;
      //gap: 10px;

      input{
        border: 1px solid rgba(115, 103, 255, 0.1);
        width: 438px;
        height: 53px;
        border-radius: 12px;
        padding: 15px;
        color: rgba(126, 141, 156, 1);
      }
      label{
        font-size: 16px;
        font-weight: 500;
        color:rgba(126, 141, 156, 1);
      }
    }
  }
}
.passwordWrapper {
  position: relative;
  display: flex;
  align-items: center;

  input {
    width: 100%;
    padding-right: 40px;
  }
}

.eyeIcon {
  position: absolute;
  right: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.errorText {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}
.submitBtn {
  width: 100%;
  padding: 0.8rem;
  background-color:rgba(115, 103, 255, 1);
  color: rgba(244, 243, 255, 1);
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  margin-top: 28px;

  &:hover {
    background-color: rgba(0, 0, 255, 1);
    transition: 0.6s ease;
  }
}
