@import "../../../../assets/variables/variables";

.partners {
  background-color: white;
  border-radius: 20px;
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;


  h2 {
    color: #A3AED0;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
  }


  .title {
    color: $mainColor;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
  }


  .partnerList {
    display: flex;
    flex-direction: column;
    gap: 8px;


    > div {
      display: flex;
      align-items: center;
      gap: 2px;
      border: 1px solid #7367FF26;
      border-radius: 10px;
      padding: 5px 3px;


      .editIcon {
        width: 25px;
        height: 25px;
        padding: 3px 4px;
        cursor: pointer;


        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }


      .partnerIcon {
        width: 90px;
        height: 33px;


        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }


      .trashIcon {
        width: 25px;
        height: 25px;
        padding: 3px 4px;
        cursor: pointer;


        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }



  > div:last-child {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    

  > div {
    width: 40px;
    height: 40px;
    border: 1px solid #7367FF26;
    border-radius: 9px;
    padding: 8px;
    align-items: center;
    cursor: pointer;


    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  }
}