//PARTNERS SECTION
.partners {
    text-align: center;
    margin-top: 150px;
  
    //mobile üçün
    @media (max-width: 599px) {
      margin-top: 50px;
    }
  
    //tablet üçün
    @media (min-width: 600px) and (max-width: 1024px) {
      margin-top: 90px;
    }
  
  
    h2 {
      font-size: 40px;
      color: rgba(0, 0, 0, 1); // Başlıq rəngi
      margin-bottom: 40px;
      font-weight: 600;
  
      //mobile üçün
      @media (max-width: 599px) {
        font-size: 24px;
        margin-bottom: 28px
      }
  
      //tablet üçün
      @media (min-width: 600px) and (max-width: 1024px) {
        font-size: 28px;
        margin-bottom: 32px;
      }
    }
  }
.partnerLogos {
    display: flex;
    justify-content: center;
    gap: 20px; // Şəkillər arasındakı boşluq
    flex-wrap: nowrap; // Logoların sətirə düşməməsini təmin etmək üçün
    overflow: hidden; // Loqoların konteynerdən çıxmasını gizləyir
    position: relative; // Konteyneri animasiya üçün əsas təyin edir
    white-space: nowrap; // Loqoları bir xətt üzərində saxlayır
  
    .animateWrapper {
      display: flex;
      animation: slide 10s linear infinite; // Sonsuz hərəkət, 30s sürətində
    }
  }
  
  .partnerLogo {
    width: 295px; // Şəkil ölçüsü
    height: 100px;
    object-fit: contain; // Şəkilləri səliqəli göstərmək üçün
    margin-right: 20px; // Şəkillər arasındakı boşluğu tənzimləyirik

    //mobile üçün
    @media (max-width: 599px) {
      width: 140px;
      height: auto; // Nisbəti saxlamaq üçün
    }

    //tablet üçün
    @media (min-width: 600px) and (max-width: 1024px) {
      width: 217px;
      height: auto; // Nisbəti saxlamaq üçün
    }
  }
  
  // @keyframes ilə animasiya təyin edirik
  @keyframes slide {
    0% {
      transform: translateX(0); // Başlanğıc nöqtəsi
    }
    100% {
      transform: translateX(-25%); // Bitmə nöqtəsi
    }
  }
  
 

//END PARTNERS SECTION

//TECRUBE PROGRAMI SECTION
.internShipContainer {
    text-align: center;
    // padding: 50px 20px;
    margin-bottom: 103px;
    margin-top: 100px;



    .internTitle {
        font-size: 40px;
        color: rgba(23, 15, 73, 1);
        font-weight: 600;
        margin-bottom: 16px;


        //Mobile uçun
        @media (max-width: 599px) {
            font-size: 28px;
        }

        //Tablet uçun
        @media (min-width: 600px) and (max-width: 1024px) {
            font-size: 40px;
        }


    }

    .internDescription {
        font-size: 20px;
        color: rgba(126, 141, 156, 1);
        margin-bottom: 32px;
        line-height: 1.6;
        padding: 0 100px;
        font-weight: 400;


        //Mobile uçun    
        @media (max-width: 599px) {
            font-size: 14px;
            padding: 0;
        }

        //Tablet uçun
        @media (min-width: 600px) and (max-width: 1024px) {
            font-size: 16px;
            padding: 0;
        }
    }

   

}

//END TECRUBE PROGRAMI SECTION

