@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
h1 {
  color: #222222;
  font-weight: 700;
  font-size: 60px;
  line-height: 61px;
  text-align: center;
  margin: 100px 105px 150px;
}

.mainSec {
  margin: 150px 105px;
  display: flex;
  align-items: start;
  gap: 20px;
}
.mainSec .leftDiv {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}
.mainSec .leftDiv > div {
  background-color: white;
  border-radius: 32px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 16px;
  cursor: pointer;
  position: relative;
  border: 1px solid transparent;
  transition: all 0.3s ease;
}
.mainSec .leftDiv > div .imgCont {
  width: 80px;
  height: 80px;
  background-color: #F0EEFF;
  padding: 20px;
  overflow: hidden;
  border-radius: 50%;
}
.mainSec .leftDiv > div .imgCont img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.mainSec .leftDiv > div .title {
  color: #222222;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  transition: all 0.3s ease;
}
.mainSec .leftDiv > div .info {
  color: #7E8D9C;
  font-size: 18px;
  line-height: 27px;
}
.mainSec .leftDiv > div:hover {
  border: 1px solid rgba(126, 141, 156, 0.368627451);
}
.mainSec .leftDiv > div:hover .title {
  color: #4A3AFF;
}
.mainSec .rightDiv {
  width: 50%;
  background-color: white;
  border-radius: 32px;
  padding: 20px;
  cursor: pointer;
  position: relative;
  border: 1px solid transparent;
  transition: all 0.3s ease;
}
.mainSec .rightDiv .title {
  color: #222222;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 10px;
  text-align: start;
  transition: all 0.3s ease;
}
.mainSec .rightDiv .desc {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: start;
  color: #7E8D9C;
  font-size: 20px;
  line-height: 30px;
}
.mainSec .rightDiv:hover {
  border: 1px solid rgba(126, 141, 156, 0.368627451);
}
.mainSec .rightDiv:hover .title {
  color: #4A3AFF;
}
.mainSec a {
  position: absolute;
  inset: 0;
}

@media (max-width: 599px) {
  h1 {
    font-size: 28px;
    line-height: 42px;
    margin: 40px 0px 28px;
  }
  .mainSec {
    margin: 0 0 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .mainSec .leftDiv {
    gap: 20px;
    width: 100%;
  }
  .mainSec .leftDiv > div {
    border-radius: 28px;
    padding: 15px 21px;
    gap: 12px;
  }
  .mainSec .leftDiv > div .imgCont {
    width: 60px;
    height: 60px;
    padding: 15px;
  }
  .mainSec .leftDiv > div .title {
    font-size: 18px;
    line-height: 27px;
  }
  .mainSec .leftDiv > div .info {
    font-size: 12px;
    line-height: 18px;
  }
  .mainSec .rightDiv {
    width: 100%;
    border-radius: 28px;
    padding: 15px 20px;
  }
  .mainSec .rightDiv .title {
    font-size: 28px;
    line-height: 39px;
    margin-bottom: 2px;
  }
  .mainSec .rightDiv .desc {
    gap: 8px;
    font-size: 12px;
    line-height: 18px;
  }
}
@media (min-width: 600px) and (max-width: 1024px) {
  h1 {
    font-size: 40px;
    line-height: 41px;
    margin: 80px 0px 90px;
  }
  .mainSec {
    margin: 0 0 90px;
  }
  .mainSec .leftDiv > div {
    border-radius: 28px;
    padding: 15px 20px;
    gap: 12px;
  }
  .mainSec .leftDiv > div .imgCont {
    width: 60px;
    height: 60px;
    padding: 15px;
  }
  .mainSec .leftDiv > div .title {
    font-size: 20px;
    line-height: 30px;
  }
  .mainSec .leftDiv > div .info {
    font-size: 14px;
    line-height: 21px;
  }
  .mainSec .rightDiv {
    border-radius: 28px;
    padding: 15px 20px;
  }
  .mainSec .rightDiv .title {
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 2px;
  }
  .mainSec .rightDiv .desc {
    gap: 6px;
    font-size: 14px;
    line-height: 21px;
  }
}/*# sourceMappingURL=Contact.module.css.map */