@import '../../../../assets/variables/variables';

.numberCont {
    background-color: white;
    border-radius: 20px;
    padding: 25px 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 50%;


    .numberTit {
        color: #A3AED0;
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
    }


    .numHead {
        display: flex;
        justify-content: space-between;
        align-items: center;


        .headLeft {
            color: $mainColor;
            font-weight: 600;
            font-size: 18px;
            line-height: 100%;
        }
    }


    .numBody {
        display: flex;
        flex-direction: column;
        gap: 12px;


        .bodyPart {
            display: flex;
            flex-direction: column;
            gap: 4px;
            align-items: start;


            .partTop {
                display: flex;
                align-items: center;
                padding: 4px;


                .topLeft {
                    width: 24px;
                    height: 24px;
                    padding: 3px;
                }


                .topRight {

                }color: #A3AED0;
                font-size: 16px;
                line-height: 100%;
            }


            .partBot {
                display: flex;
                align-items: center;
                gap: 12px;
                width: 100%;


                .botMid {
                    border: 1px solid #7367FF26;
                    border-radius: 10px;
                    padding: 10px;
                    width: 100%;
                    display: flex;
                    gap: 12px;
                    align-items: center;


                    .midIc {
                        width: 24px;
                        height: 24px;
                        padding: 3px;
                    }


                    .midInput {
                        width: 100%;
                        height: 100%;
                        outline: none;
                        border: none;
                        color: $secondColor;
                        font-size: 16px;
                        line-height: 100%;


                        &::placeholder {
                            color: inherit;
                        }
                    }
                }


                .endIc {
                    width: 25px;
                    height: 25px;
                }
            }
        }
    }
}





.headRight {
    border: 1px solid #7367FF26;
    border-radius: 9px;
    padding: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}