@use "../variables/variables" as variables;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: variables.$fontFamily;
    background-color: variables.$bgColor;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 100px;

    @media (max-width: 480px) {
        padding: 0 16px;
    }
}

a {
    text-decoration: none;
    color: inherit;
    :hover {
        text-decoration: underline;
    }
}