@use "../variables/variables" as variables;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: variables.$fontFamily;
    background-color: variables.$bgColor;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 100px;
//mobile üçün
    @media (min-width: 375px) {
        padding: 0 16px;
    }
   //Tablet uçun
   @media (min-width: 600px) and (max-width: 1024px) {
        padding: 0 20px;
    }
}

a {
    text-decoration: none;
    color: inherit;
    :hover {
        text-decoration: underline;
    }
}