.partners {
    text-align: center;
   margin-top: 150px;
  
    h2 {
      font-size: 40px;
      color: rgba(0, 0, 0, 1); // Başlıq rəngi
      margin-bottom: 40px;
      font-weight: 600;
    }
  
    .partnerLogos {
      display: flex;
      justify-content: center;
      gap: 20px; // Şəkillər arasında boşluq
      flex-wrap: wrap; // Mobil üçün logoların sətirə düşməsi
    }
  
    .partnerLogo {
      width: 295px; // Şəkil ölçüsü
      height: 100px;
      object-fit: contain; // Şəkilləri səliqəli göstərmək üçün
    }
  }
  
  // Mobil uyğunlaşma
  @media (max-width: 480px) {
    .partnerLogo {
      width: 120px;
      height: auto; // Nisbəti saxlamaq üçün
    }
  }
  