.applicationCont {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
}
.applicationCont .innerCont {
  background-color: white;
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  width: 480px;
  margin: 0 auto;
  border-radius: 40px;
  padding: 40px;
}
.applicationCont .innerCont .cancelCont {
  display: flex;
  justify-content: end;
  cursor: pointer;
}
.applicationCont .innerCont .cancelCont .close {
  width: 24px;
  height: 24px;
  text-align: end;
}
.applicationCont .innerCont .cancelCont .close img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.applicationCont .innerCont .heading {
  color: #282828;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  margin-bottom: 30px;
  text-align: center;
}
.applicationCont .innerCont form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #7E8D9C;
  font-size: 16px;
  line-height: 24px;
}
.applicationCont .innerCont form .divCont {
  display: flex;
  gap: 5px;
  flex-direction: column;
}
.applicationCont .innerCont form .divCont label {
  font-weight: 500;
}
.applicationCont .innerCont form .divCont input {
  height: 54px;
  border: 1px solid rgba(115, 103, 255, 0.1490196078);
  padding: 15px;
  border-radius: 12px;
  outline: none;
  font-size: 16px;
  color: #7E8D9C;
}
.applicationCont .innerCont form .divCont input::placeholder {
  color: #7E8D9C;
  font-size: 16px;
  font-weight: 400;
}
.applicationCont .innerCont form .divCont textarea {
  padding: 15px;
  border-radius: 12px;
  border: 1px solid rgba(115, 103, 255, 0.1490196078);
  outline: none;
  resize: none;
  font-size: 16px;
  overflow-y: hidden;
  height: 100px;
  color: #7E8D9C;
}
.applicationCont .innerCont form button {
  background-color: #7367FF;
  color: white;
  padding: 15px;
  width: 100%;
  border-radius: 12px;
  border: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}
.applicationCont .innerCont form button:hover {
  background-color: #0000FF;
  transition: 0.6s ease;
}
.applicationCont .innerCont form button:disabled:hover {
  background-color: #7367FF;
  cursor: default;
}

.emailErrorInput {
  border: 1px solid rgba(211, 47, 47, 0.6) !important;
}

.emailErrorText {
  color: rgba(211, 47, 47, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.formSubmitted {
  opacity: 0.5;
}

@media (max-width: 599px) {
  .applicationCont .innerCont {
    width: 343px;
    border-radius: 18px;
    padding: 28px;
    top: 57px;
  }
  .applicationCont .innerCont .heading {
    font-size: 16px;
    margin-bottom: 12px;
  }
  .applicationCont .innerCont form {
    gap: 12px;
    font-size: 12px;
    line-height: 18px;
  }
  .applicationCont .innerCont form .divCont input {
    height: 42px;
    padding: 12px 10px;
    font-size: 12px;
  }
  .applicationCont .innerCont form .divCont input::placeholder {
    font-size: 12px;
  }
  .applicationCont .innerCont form .divCont textarea {
    padding: 12px 10px;
    font-size: 12px;
    height: 93px;
  }
  .applicationCont .innerCont form button {
    padding: 12px;
    font-size: 12px;
    line-height: 18px;
  }
  .emailErrorText {
    font-size: 11px;
    line-height: 17px;
  }
}
@media (min-width: 600px) and (max-width: 1024px) {
  .applicationCont .innerCont {
    width: 400px;
    border-radius: 18px;
    padding: 28px;
    top: 108px;
  }
  .applicationCont .innerCont .heading {
    font-size: 18px;
    margin-bottom: 12px;
  }
  .applicationCont .innerCont form {
    gap: 12px;
    font-size: 14px;
    line-height: 21px;
  }
  .applicationCont .innerCont form .divCont input {
    height: 42px;
    padding: 11px 10px;
    font-size: 14px;
  }
  .applicationCont .innerCont form .divCont input::placeholder {
    font-size: 14px;
  }
  .applicationCont .innerCont form .divCont textarea {
    padding: 12px 10px;
    font-size: 14px;
    height: 93px;
  }
  .applicationCont .innerCont form button {
    padding: 10px;
    font-size: 13px;
    line-height: 20px;
  }
  .emailErrorText {
    font-size: 12px;
    line-height: 18px;
  }
}/*# sourceMappingURL=Application.module.css.map */