@import '../../../assets/variables/_variables.scss';
h1 {
    color: $mainColor;
    font-weight: 700;
    font-size: 60px;
    line-height: 61px;
    text-align: center;
    margin: 100px 105px 150px;
}


.mainSec {
    margin: 150px 105px;
    display: flex;
    align-items: start;
    gap: 20px;


    .leftDiv {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 50%;


        > div {
            background-color: white;
            border-radius: 32px;
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 16px;
            cursor: pointer;
            position: relative;
            border: 1px solid transparent;
            transition: all 0.3s ease;


            .imgCont {
                width: 80px;
                height: 80px;
                background-color: #F0EEFF;
                padding: 8px;
                overflow: hidden;
                border-radius: 50%;


                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }


            .title {
                color: $mainColor;
                font-weight: 600;
                font-size: 24px;
                line-height: 36px;
                transition: all 0.3s ease;
            }


            .info {
                color: $secondColor;
                font-size: 18px;
                line-height: 27px;
            }


            &:hover {
                border: 1px solid #7E8D9C5E;


                .title {
                    color: #4A3AFF;
                }
            }
        }
    }


    .addresses {
        width: 50%;
    }

    .rightDiv {
        width: 100%;
        background-color: white;
        border-radius: 32px;
        padding: 20px;
        cursor: pointer;
        position: relative;
        border: 1px solid transparent;
        transition: all 0.3s ease;


        .title {
            color: $mainColor;
            font-weight: 700;
            font-size: 40px;
            line-height: 50px;
            margin-bottom: 10px;
            text-align: start;
            transition: all 0.3s ease;
        }


        .desc {
            display: flex;
            flex-direction: column;
            gap: 20px;
            justify-content: start;
            color: $secondColor;
            font-size: 20px;
            line-height: 30px;
        }


        &:hover {
            border: 1px solid #7E8D9C5E;


            .title {
                color: #4A3AFF;
            }
        }
    }


    a {
        position: absolute;
        inset: 0;
    }
}


// mobile
@media (max-width: 599px) {
    h1 {
        font-size: 28px;
        line-height: 42px;
        margin: 40px 0px 28px;
    }
    
    
    .mainSec {
        margin: 0 0 50px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
    
        .leftDiv {
            gap: 20px;
            width: 100%;
    
    
            > div {
                border-radius: 28px;
                padding: 15px 21px;
                gap: 12px;
    
    
                .imgCont {
                    width: 60px;
                    height: 60px;
                    padding: 15px;
                }
    
    
                .title {
                    font-size: 18px;
                    line-height: 27px;
                }
    
    
                .info {
                    font-size: 12px;
                    line-height: 18px;
                }
            }
        }
    
    
        .rightDiv {
            width: 100%;
            border-radius: 28px;
            padding: 15px 20px;
    
    
            .title {
                font-size: 28px;
                line-height: 39px;
                margin-bottom: 2px;
            }
    
    
            .desc {
                gap: 8px;
                font-size: 12px;
                line-height: 18px;
            }
        }
    }
}


// tablet 
@media (min-width: 600px) and (max-width: 1024px) {
    h1 {
        font-size: 40px;
        line-height: 41px;
        margin: 80px 0px 90px;
    }
    
    
    .mainSec {
        margin: 0 0 90px;
    
    
        .leftDiv {
            > div {
                border-radius: 28px;
                padding: 15px 20px;
                gap: 12px;
    
    
                .imgCont {
                    width: 60px;
                    height: 60px;
                    padding: 15px;
                }
    
    
                .title {
                    font-size: 20px;
                    line-height: 30px;
                }
    
    
                .info {
                    font-size: 14px;
                    line-height: 21px;
                }
            }
        }
    
    
        .rightDiv {
            border-radius: 28px;
            padding: 15px 20px;
    
    
            .title {
                font-size: 32px;
                line-height: 39px;
                margin-bottom: 2px;
            }
    
    
            .desc {
                gap: 6px;
                font-size: 14px;
                line-height: 21px;
            }
        }
    }
}